/* UNIVERSAL */

* {
	margin: 0;
	padding: 0;
	font-family: "Red Hat Display";
}

ul {
	/* Used in HEADING */
	gap: 30px;
	display: flex;
	list-style: none;
	align-items: center;
	padding: 0 150px 0 150px;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: unset;
	cursor: pointer;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* HEADING */
.heading {
	padding: 15px;
	min-height: 40px;
	background-color: rgb(107, 76, 35);

	color: white;
}

.head-logo {
	font-size: 40px;
	font-weight: 700;
	margin-right: auto;
	font-family: Grandstander;
}

/** MAIN **/
.main {
	background-color: rgb(212, 201, 184);
	height: 750px;
	max-height: 750px;
	justify-content: center;
	align-items: center;

	/* padding: 50%; */
	display: flex;
	gap: 30px;
}

.main-left {
	padding: 10px;
	width: 40%;

	/* background-color: rgb(54, 56, 21); */
	height: 70%;
}

.left-heading {
	font-weight: 400;
	letter-spacing: -5px;
	font-size: 85px;
	font-family: Grandstander;
}

.left-heading-bold {
	font-family: Grandstander;
	font-weight: 800;
}

.left-sub {
	font-size: 25px;
}

.main-btn {
	margin-top: 20px;
	border: none;
	text-decoration: none;
	/* padding: 10px 50px 10px 50px; */
	font-size: 22px;
	height: 50px;
	width: 150px;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	background-color: rgb(107, 76, 35);
}

.main-right {
	width: 40%;
	height: 70%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(images/lomi.jpg);
	background-color: rgb(5, 77, 29);
}

/** MIDDLE **/

.mid {
	background-color: rgb(221, 220, 209);

	padding: 3%;
	height: 750px;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mid-h {
	font-size: 50px;
}

.mid-content {
	display: flex;
}

.mid-recp {
	text-align: center;
	height: 450px;
	width: 400px;
	padding: 50px;
	/* background-color: rgb(121, 113, 14); */
	overflow: hidden;
}

.mid-img {
	min-width: 280px;
	min-height: 280px;
	object-fit: cover;
}

.recp-name {
	margin-top: 5px;
	font-size: 25px;
	font-weight: 500;
}

/** QUOTE **/

.qoute-con {
	background-color: rgb(212, 201, 184);

	padding: 150px;
	min-height: 500px;
	max-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.qoute {
	font-size: 30px;
	text-align: justify;
}

.qoute-name {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 700;
	margin-right: 10px;
	font-style: italic;
	align-self: flex-end;
	/* background-color: chartreuse; */
}

/** CALL TO ACTION **/

.call {
	background-color: rgb(221, 220, 209);

	/* padding: 150px; */
	min-height: 400px;
	max-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.call-box {
	background-color: rgb(212, 201, 184);

	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 150px;
	width: 80em;
	height: 10em;
	/* border-radius: 50px; */
}

.call-box-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.call-head {
	font-size: 30px;
	font-weight: 500;

	font-family: Grandstander;
}

.call-btn {
	border: none;
	text-decoration: none;
	/* padding: 10px 50px 10px 50px; */
	font-size: 22px;
	height: 50px;
	width: 150px;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	background-color: rgb(107, 76, 35);
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: rgb(107, 76, 35);
}

.footer-p {
	color: white;
}
